body{
    background-color: lightgray;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: 'Nunito', sans-serif;
    line-height: 1.5em;

}
p{
    margin: 0 1em;
    padding: 0;
    text-align: justify;
}
.conteiner{
    position: relative;
    width: 100%;
    max-width: 65vw;
    min-height: 90vh;
    background-color: whitesmoke;
    display: grid;
    grid-template-columns: 1fr 2fr;
}
.conteiner .esquerda{
    position: relative;
    background-color:rgb(70, 1, 1);
    padding: 2em;
    max-width: 22vw;
    color:white;
    text-align: left;

}
.conteiner .direita{
    position: relative;
    padding: 3em;

}


.esquerda h2{
    text-align: center;


}
.apresentacao-esquerda{
    border-bottom:  1.5px solid whitesmoke;
    text-align: center;
    
}
.apresentacao-esquerda h1{
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 0.2em;
    
}

.apresentacao-esquerda p{
    font-size: 0.8 em;
    font-style: italic;
    text-align: center;    
    margin: 0;
}
.perfil{
    width:100%;
}
.esquerda ul{
    list-style: none;
    padding: 0;
}
.direita ul{
    list-style: none;
    padding: 1.3em;
}